body {
    margin-bottom: 60px;
}

.footer {
    height: 40px;
}

img {
    border-radius: 50%;
}

ul {
    list-style-type: none;
}

#skills {
    background-color: red;
}

#skillLikes {
    background-color: blue;
}

#profilePic {
    background-color: grey;
}

#pendingRequests {
    background-color: goldenrod;
}

#registration {
    background-color: papayawhip;
    width: 25%;
    margin: auto;
}
