<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/layout :: head"></head>

<body>

<div th:replace="fragments/layout :: navi"></div>

    <p>Add account</p>
    <form th:action="@{/accounts}" method="post">
        <label for="username">Username</label>
        <input type="text" name="username" id="username"/>
        <label for="username">Password</label>
        <input type="password" name="password" id="password"/>
        <label for="username">Real name</label>
        <input type="text" name="realName" id="realName"/>
        <label for="username">Profile name (will be shown in URL</label>
        <input type="text" name="accountName" id="accountName"/>
        <input type="submit" value="Add account"/>
    </form>

    <h3>Users:</h3>
    <ul>
        <li th:each="account : ${accounts}">
            <img th:src="@{/account_box_grey_48x48.png}" class="rounded img-thumbnail" alt="Profile picture"/>
            <a th:href="@{/accounts/{accountName}(accountName=${account.accountName})}" th:text="${account.realName}" ></a>
            <form th:action="@{/accounts/request}" method="post">
                <input type="hidden" name="addedId" th:value="${account.id}"/>
                <input type="submit" value="Add as a contact"/>
            </form>
            <p th:text="${account.id}"></p>
        </li>
    </ul>



</body>
</html>