<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" lang="en">
<head th:replace="fragments/layout :: head(title='Main page')"></head>
<body>

<div th:replace="fragments/layout :: navi"></div>

    <h3>Tervetuloa, käyttäjä!</h3>

    <div class="container">
        <div class="row">
            <div class="col-6">
                <h3 th:text="${account.realName}"></h3>
                <div sec:authorize="isAuthenticated()">
                    Authenticated as <span sec:authentication="name"></span></div>

                <div th:if="${profilePic} == null">
                    <img th:src="@{/account_box_grey_192x192.png}" class="rounded img-thumbnail" alt="Profile picture"/>
                </div>
                <div th:if="${profilePic} != null">
                    <img th:src="@{/profilePictures/{id}/content(id=${profilePic.id})}" class="rounded img-thumbnail" alt="Profile picture"/>
                </div>
                <p>Päivitä profiilikuva</p>
                <form th:action="@{/profilePictures}" method="post" enctype="multipart/form-data">
                    <input type="file" name="file" />
                    <input type="submit" value="Add picture!" /></form>
            </div>

            <div class="col-6" id="skills">
                <h3>Skills</h3>
                <table>
                    <tr th:each="skill : ${skills}">
                        <td th:text="${skill.skillName}"></td>
                        <td>
                            <form th:action="@{/likeSkill}" method="post">
                                <input type="hidden" name="likeSkill">
                                <input type="submit" name="submit" value="Like!">
                            </form>
                        </td>
                    </tr>

                </table>
            <form th:action="@{/profile}" method="post">
                <input type="text" name="addedSkill" />
                <input type="submit" name="submit" value="Add skill"/>
            </form>
            </div>
        </div>

        <div id="pendingRequests">
        <p>Your pending requests:</p>
        <table>
            <tr th:each="request : ${requests}">
                <td th:text="${request.AccountAddedBy.realName}"></td>
                <td th:text="${request.AccountAddedBy.id}"></td>
            </tr>
        </table>
        </div>
        <!--
            <p>Your pending requests:</p>
            <table>
                <tr th:each="request : ${requests}">
                    <td th:text="${request.accountAdded}"></td>
                </tr>
            </table> -->


        <form th:action="@{/logout}" method="POST">
            <input type="submit" value="Logout"></input>
        </form>
    <p>Sovellukselta odotetut ominaisuudet:

    </p>

    <p>
        Käyttäjien etsiminen ja yhdistäminen
        Käyttäjä voi etsiä muita käyttäjiä nimen perusteella. Käyttäjä voi lisätä yhteyksiinsä toisen henkilön. Yhteyttä ei kuitenkaan hyväksytä ellei toinen osapuoli hyväksy sitä.
    </p>
    <p>
        Yhteydet
        Käyttäjä voi tarkastella omia yhteyksiään. Yhteyden ohessa näytetään toisen henkilön nimi joka toimii linkkinä henkilön profiiliin sekä painikkeet yhteyden hyväksyntään ja hylkäykseen. Mikäli yhteys on jo muodostettu, on tilalla painike yhteyden katkaisemiseksi.
    </p>
    <p>
        Profiilikuva
        Käyttäjä voi määritellä profiilikuvan.
    </p>
    <p>
        Henkilökohtainen etusivu
        Jokaisella käyttäjällä on henkilökohtainen "seinä", joka sisältää yllä henkilön nimen sekä mahdollisesti määritellyn profiilikuvan. Tämän lisäksi seinällä on lista taidoista joita henkilöllä on. Käyttäjä voi lisätä taitoja omalta sivultaan. Muut käyttäjät voivat käydä kehumassa toisen käyttäjän taitoja hänen etusivullaan - tällöin taidon vieressä oleva kehujen lukumäärä kasvaa. Taidoista korostetaan 3 kaikkein kehuttua taitoa, ja loput ovat erillään.
    </p>

    <p>
        Apuresursseja:
        Apumateriaalia tietokannassa olevan ajan käsittelyyn: https://web-palvelinohjelmointi-20.mooc.fi/ekstra/ajan-kasittely-tietokannassa</p>
    </div>

<footer class="fixed-bottom bg-light">
    <div class="container">
        <p>Footer</p>
        <span class="text-muted">Place sticky footer content here.</span>
    </div>
</footer>

</body>
</html>