<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" lang="en">
<head th:replace="fragments/layout :: head(title='Posts')"></head>
<body>

<div th:replace="fragments/layout :: navi"></div>


    <div class="container">
        <h3>Habitants in the LinkedIn world</h3>

        <div class="row">
            <form th:action="@{/posts}" method="post">
                <input type="text" name="addedPost" />
                <input type="submit" name="submitPost" value="Add post"/>
            </form>
        </div>

        <div class="row">
            <table>
                <th:block th:each="post : ${posts}">
                    <tr>
                        <td th:text="${post.account.userName}"></td>
                        <td th:text="${post.postingTime}"></td>
                        <td th:text="${post.content}">Content</td>
                        <td th:text="${post.id}"></td>
                        <td><form th:action="@{/comments}" method="post">
                            <input type="text" name="commentContent"/>
                            <input type="hidden" name="postId" th:value="${post.id}"/>
                            <input type="submit" name="submitComment" value="Add comment" />
                        </form></td>
                        <td>
                            <form th:action="@{/likes}" method="post">
                                <input type="hidden" name="postIdOfLike" th:value="${post.id}"/>
                                <input type="submit" name="submitLike" value="Like!"/>
                            </form>
                        </td>
                        <td>

                            <th:block th:each="postLike : ${postLikes}">
                                <div th:if="${post.id} == ${postLike.post.id}">
                                <span>Amount of likes: </span>
                                <span th:text="${postLike.likes}"></span>
                                </div>
                            </th:block>
                        </td>
                    </tr>
                    <tr th:each="comment : ${comments}">
                        <th:block th:if="${post.id} == ${comment.post.id}">
                            <td th:text="${comment.account.userName}"></td>
                            <td th:text="${comment.commentContent}"></td>
                            <td th:text="${comment.post.id}"></td>
                        </th:block>
                    </tr>
                </th:block>
            </table>
        </div>

        <div class="row" >
            <div class="col-lg-10 col-md-6 mb-4" th:each="post : ${posts}">

                <div th:replace="fragments/layout :: productCard">

                </div>
            </div>

            <p>
                Postaaminen
                Kirjautuneet käyttäjät voivat lähettää postauksia yhteisellä sivulla. Postaussivulla näkyy yhteydessä olevien henkilöiden postaukset. Jokaisesta viestistä näytetään viestin lähettäjän nimi, viestin lähetysaika, sekä viestin tekstimuotoinen sisältö. Viestit näytetään postauslistassa niiden saapumisjärjestyksessä siten, että postauslistassa näkyy aina korkeintaan 25 uusinta viestiä.
            </p>
            <p>
                Postausten tykkääminen
                Kirjautuneet käyttäjät voivat tykätä postauksista. Tykkääminen tapahtuu viestin yhteydessä olevaa tykkäysnappia painamalla. Kukin käyttäjä voi tykätä tietystä viestistä korkeintaan kerran (sama käyttäjä ei saa lisätä useampaa tykkäystä tiettyyn viestiin). Viestien näytön yhteydessä näytetään niihin liittyvä tykkäysten lukumäärä.
            </p>
            <p>
                Kommentointi
                Käyttäjät voivat kommentoida viestejä. Kommentointi tapahtuu viestin yhteydessä olevan kommentointikentän avulla. Viestien yhteydessä näytetään aina korkeintaan 10 uusinta kommenttia.
            </p>

        </div>
    </body>
</html>