<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/layout :: head(title='Profile of ...')"></head>
<body>

<div th:replace="fragments/layout :: navi"></div>

    <h3 th:text="${account.realName}"></h3>

    <div class="container">
        <div class="row">
            <div class="col-6">
                <h3 th:text="${account.realName}"></h3>
                <div th:if="${profilePic.userId} == null">
                    <img th:src="@{/account_box_grey_192x192.png}" class="rounded img-thumbnail" alt="Profile picture"/>
                </div>
                <div th:if="${profilePic.userId} != null">
                    <img th:src="@{/doge2.jpeg}" class="rounded img-thumbnail" alt="Profile picture"/>
                </div>
            </div>

            <div class="col-6" id="skills">
                <table>
                    <tr th:each="skill : ${skills}">
                        <td th:text="${skill.skillName}"></td>
                    </tr>

                </table>
            </div>
        </div>

<footer class="fixed-bottom bg-light">
    <div class="container">
        <p>Footer</p>
        <span class="text-muted">Place sticky footer content here.</span>
    </div>
</footer>

</body>
</html>