<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/layout :: head(title='Profile of ...')"></head>
<body>

<div th:replace="fragments/layout :: navi"></div>

    <h3 th:text="${account.realName}"></h3>

    <div class="container">
        <div class="row">
            <div class="col-6">
                <h3 th:text="${account.realName}"></h3>
                <div th:if="${profilePic.userId} == null">
                    <img th:src="@{/account_box_grey_192x192.png}" class="rounded img-thumbnail" alt="Profile picture"/>
                </div>
                <div th:if="${profilePic.userId} != null">
                    <img th:src="@{/doge2.jpeg}" class="rounded img-thumbnail" alt="Profile picture"/>
                </div>
            </div>

            <div class="col" id="skills">
                <h3>Skills</h3>
                <table>
                    <tr th:each="skill : ${skills}">
                        <td th:text="${skill.skillName}"></td>
                      <td>
                            <form th:action="@{/accounts/{accountName}(accountName=${account.accountName})}" method="post">
                                <input type="hidden" name="likeSkillId" th:value="${skill.id}">
                                <input type="submit" name="submit" value="Like!">
                            </form>
                        </td>
                        <td th:if="${skill.amountOfLikes} > 0"> Likes: </td>
                        <td th:if="${skill.amountOfLikes} > 0" th:text="${skill.amountOfLikes}" ></td>
                    </tr>
                </table>
            <p>Seuraavat toimenpiteet:</p>
                <p>Vain yksi tykkäys per käyttäjä</p>
                <p>Eli muokkaa skill like siten, että like-nappi näkyy vain jos ei ole painettu.</p>

            </div>



<footer class="fixed-bottom bg-light">
    <div class="container">
        <p>Footer</p>
        <span class="text-muted">Place sticky footer content here.</span>
    </div>
</footer>

</body>
</html>